.welcome {
  font-family: "Bungee Spice", cursive;
}

.nav {
  background-color: rgb(255, 255, 255, 0.75);
}

.reviews {
  background: rgb(255, 235, 205, 0.75) /*  10% opaque background only */;
  padding: 0.8em;
  align-items: center;
  text-align: justify;
}

.projects {
  font-family: "Merriweather", serif;
  flex-wrap: wrap;
}

.project-row {
  font-size: x-large;
}
.project-row:nth-child(odd) {
  background-color: blanchedalmond;
  opacity: 0.75;
  text-align: center;
  word-wrap: break-word;
  padding: 1em;
}

.project-row:nth-child(even) {
  background-color: seashell;
  text-align: center;
  word-wrap: break-word;
  padding: 1em;
}

.projects h2 {
  background-color: rgb(190, 227, 215);
  padding: 1em;
  opacity: 0.85;
}

.about {
  text-align: left;
}
