.bg-primary {
  background-image: url("http://www.eso.org/public/archives/images/screen/eso1205a.jpg");
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-gray-900)) !important;
  transition-timing-function: cubic-bezier(0.1, 0.5, 0.2, 0.1);
  background-image: url("http://www.eso.org/public/archives/images/screen/eso1205a.jpg")
    repeat-y;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-gray-900)) !important;

  /* Clip Background Image */
  -webkit-background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 35s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% {
    background-position: -200% 50%;
  }
  100% {
    background-position: 250% 50%;
  }
  0% {
    background-position: -100% 50%;
  }
}

/* end bg-primary */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.mb-3 {
  margin-bottom: 1rem !important;
}
